// display flex aligned center
%flex-center {
	display: flex;
	align-items: center;
}

// align right
%flex-end {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

%common-card-cont {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	overflow: hidden;
	height: 339px;
	color: white;
	$min_width: 1000px;
	$max_width: 1640px;
	$min_h: 230px;
	$max_h: 339px;
	@include fluid-type-height($min_width, $max_width , $min_h , $max_h);
	@include mq(max, $mq_md - 1) {
		height: 120px;
	}
	.card-nav-t {
		font-weight: normal;
		font-family: "Trajan", sans-serif;
		$min_width: 320px;
		$max_width: 1640px;
		$min_font: 48px;
		$max_font: 68px;
		@include fluid-type($min_width, $max_width, $min_font, $max_font);
		$min_width: 1180px;
		$max_width: 1580px;
		$min_padxy: 14px;
		$max_padxy: 20px;
		@include fluid-type-padxy($min_width, $max_width , $min_padxy , $max_padxy);
		span, small {
			display: block;
		}
		span {
			font-family: "Noto Sans JP", sans-serif;
			letter-spacing: 1px;
			margin-top: -20px;
			$min_font: 8px;
			$max_font: 17px;
			@include fluid-type($min_width, $max_width, $min_font, $max_font);
			@include forIE() {
				margin-top: -20px;
			}
			@include mq(max, 800) {
				margin-top: -14px;
			}
		}
		small {
			font-size: 12px;
			font-family: "Noto Sans JP", sans-serif;
			letter-spacing: 2px;
		}
	}
	.card-nav-img {
		display: block;
		flex: 0 0 50%;
		max-width: 50%;
		height: 100%;
		background-image: url("../img/navs/pt.png");
		background-position: 28% center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

%common-nav-cols {
	ul {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		justify-content: center;
		li {
			background-color: #A5D85F;
			margin-right: 30px;
			flex: auto;
			@include mq(max, $mq_md - 1) {
				flex: 0 0 100%;
				max-width: 100%;
				margin-right: 0;
				margin-bottom: 10px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			&:last-child {
				background-color: #39C9C7;
				margin-right: 0;
			}
			// .linked-nav {
			// 	@extend %common-card-cont;
			// }
			&:nth-child(2) {
				background-color: #52C481;
				a {
					.card-nav-img {
						background-image: url("../img/navs/ot.png");
						background-position: 70% center;
					}
				}
			}
			&:last-child {
				a {
					.card-nav-img {
						background-image: url("../img/navs/st.png");
						background-position: 45% center;
					}
				}
			}
		}
	}
}

%ftr-drop-links {
	$min-vw: 320px;
	$max-vw: 1640px;
	$min-vw-size: 30px;
	$max-vw-size: 60px;
	@include fluid-type-mb($min-vw, $max-vw , $min-vw-size , $max-vw-size);
	li {
		border-color: #E4E4E5;
		a {
			padding: 16.5px 15px;
			text-align: left;
			font-size: 14px;
			transition: linear .2s;
			@include mq(max, $mq_md - 1) {
				padding: 16.5px 15px;
			}
			&:hover {
				background-color: #EFF3F0;
				color: $base-color;
				transition: linear .2s;
				i {
					right: -2px;
					transition: linear .3s;
				}
			}
			span {
				display: block;
				position: relative;
				i {
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					color: $theme-color;
					font-size: 18px;
					transition: linear .3s;
				}
			}
		}
	}
}

%title-brder-bt {
	position: relative;
	margin-bottom: 10px;
	font-family: 'Yu Mincho', sans-serif;
	font-weight: 500;
	$min-vw: 320px;
	$max-vw: 1640px;
	$min-font-size: 14px;
	$max-font-size: 21px;
	@include fluid-type($min-vw, $max-vw , $min-font-size , $max-font-size);
	span {
		display: inline-block;
		position: relative;
		&:before {
			content: "";
			position: absolute;
			bottom: 2px;
			left: 0;
			right: 0;
			z-index: -1;
			border: 4px solid #FBFF78;
		}
	}
}

%custom-owl-nav {
	display: flex;
	align-items: center;
	justify-content: center;
	$min-vw: 375px;
	$max-vw: 1640px;
	$min-vw-size: 30px;
	$max-vw-size: 100px;
	@include fluid-type-padx($min-vw, $max-vw , $min-vw-size , $max-vw-size);
	text-align: center;
	.owl-prev, .owl-next {
		display: inherit;
		align-items: inherit;
		border: none;
		background-color: transparent;
		color: #C6C6C6;
		padding: 0;
		cursor: pointer;
		outline: none;
		i {
			font-size: 35px;
			color: #d9d9d9;
		}
	}
	.custom-dots, .custom-dots2, .custom-dots3 {
		display: inherit;
		align-items: inherit;
		padding: 0 30px;
		@include mq(max, 560){
			padding: 0 10px;
		}
		.owl-dot {
			background-color: #ffc1c1;
			margin-right: 15px;
			border: none;
			padding: 5px;
			border-radius: 20em;
			cursor: pointer;
			outline: none;
			@include mq(max, 560){
				padding: 2.5px;
				margin-right: 8px;
			}
			&:last-child {
				margin-right: 0;
			}
			&.active {
				background-color:#fff;
			}
		}
	}
	.custom-dots2, .custom-dots3{
		.owl-dot{
			background: #d9d9d9;
			&.active{
				background: #ff9393;
			}
		}
		
	}
}

%jhn_title{
    $max_width: 1640px;
    $min_width: 320px;
    $max_font: 34px;
    $min_font: 26px;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);

    display: block;
    padding-bottom: 70px;
    border-bottom: 3px solid #414042;
    text-align: center;
    font-weight: normal;
    font-family: "Yu Mincho",serif;
    @include mq(max, 768) {
        padding-bottom: 40px;
    }
}
%shoku_title_t2 {
	$max_width: 1640px;
	$min_width: 320px;
	$max_font: 30px;
	$min_font: 24px;
	@include fluid-type($min_width, $max_width, $min_font, $max_font);

	line-height: 30px;
	font-family: "Yu Mincho",serif;
	margin-bottom: 40px;
	border-bottom: 1px solid #414042;
	display: inline-block;
}

%yellow-btn {
	position: relative;
	margin-top: 10px;
	margin-bottom: 0;
	display: block;
	padding: 15.5px 20px;
	padding-right: 30px;
	max-width: 100%;
	background-color: #fff000;
	border: 1px solid #fff000;
	font-size: 18px;
	color: $base-color;
	@include mq(min, 768) {
		font-size: 11px;
		padding-right: 25px;
		padding-left: 10px;
	}
	@include mq(max, 820) {
		max-width: 90%;
	}
	@include mq(max, 767) {
		max-width: 100%;
	}
	@include mq(min, 1000) {
		font-size: 14px;
		padding-right: 45px;
	}
	@include mq(min, 1280) {
		font-size: 18px;
	}
	@include mq(max, $mq_md - 1) {
		font-size: 14px;
	}
	span {
		padding-left: 0;
	}
	i {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 18px;
		transition: linear .3s;
		@include mq(min, 1000) {
			font-size: 24px;
			right: 20px;
		}
	}
	&:hover {
		background-color: white;
		border-color: $base-color;
		i {
			right: 18px;
			transition: linear .3s;
		}
	}
}

%modal_wrp { 
	position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
    z-index: -1;
    opacity: 0;
    transition: all 0.5s ease;

    &.view-modal {
        z-index: 9999;
        opacity: 1;
    }
}
%modal_cntr {
	max-width: 100%;
    width: 960px;
    margin-left: auto;
    margin-right: auto;

    @include mq(max, 1000) {
        width: 100%;
        padding: 0 20px;
    }
}